{% extends 'base.html' %}


{% block jquery %}

 $("select.country").change(function(){
        var selectedCountry = $(".country option:selected").val();
        var defaultData = []
        var labels = [];

        if (selectedCountry == "india") {
           var endpoint = '{% url 'api-view' %}'
         }

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                  labels = data.labels
                  defaultData = data.default
                 var densityCanvas = document.getElementById("myChart");
                 var densityData = {
                                      label: 'Density of Planet (kg/m3)',
                                      data: data.default1,
                                      backgroundColor: 'rgba(0, 99, 132, 0.6)',
                                      borderWidth: 0,
                                      yAxisID: "y-axis-density"
                                    };
                var gravityData = {
                                      label: 'Gravity of Planet (m/s2)',
                                      data: data.default2,
                                      backgroundColor: 'rgba(99, 132, 0, 0.6)',
                                      borderWidth: 0,
                                      yAxisID: "y-axis-gravity"
                                    };
                var planetData = {
                                      labels: data.labels,
                                      datasets: [densityData, gravityData]
                                    };
                var chartOptions = {
                  scales: {
                    xAxes: [{
                      barPercentage: 1,
                      categoryPercentage: 0.6
                    }],
                    yAxes: [{
                      id: "y-axis-density"
                    }, {
                      id: "y-axis-gravity"
                    }]
                  }
                }

                Chart.defaults.global.defaultFontFamily = "Lato";
                Chart.defaults.global.defaultFontSize = 18;

                var barChart = new Chart(densityCanvas, {
                type: 'bar',
                data: planetData,
                options: chartOptions

              });
            }
       })
});









{% endblock %}


{% block content %}

<div class='row'>
    <div class='col-sm-12' >

        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>


    </div>

</div>

{% endblock content %}